.dropbox
dailyBotRelease.conf
dailyBot.jar
dailyBot_testing.jar
dailyBot_ec2.jar
dailybotTesting_backup.sqlite
dailybot_backup.sqlite
runOctave.sh
runNumpy.sh
octave/
numpy/
logs/log*.txt
analysis/*.xml
analysis/rawData/
backups/*.sqlite
filters/*.xml
bin/
dailybotpid
dailybottestingpid
dailybotanalysispid
